extends layout.pug
block content
  div#intro
    p.expand.logoredbg
      img(src="https://cdn.glitch.com/74263575-5bd6-41c7-8958-90c644fd4514%2FScreen%20Shot%202019-01-23%20at%209.15.39%20PM.png?1548664893511")
    h1
      | Welcome to Tokimeki Unfollow~
    p.
      Do you think your feed sucks because you follow too many accounts?
      You're in the right place!
    p.
      If you're like me, you've followed a bajillion accounts over your years on Twitter dot com.
      Some of them date back to your first days as an egg — when you were probably an entirely different human being.
      You have some socially-obliged follow-backs sprinkled among some thought leaders you've outgrown,
      but you've never found the energy to go through and clean up your follows.
    p.
      Take a deep breath! Let's walk through our follows, one by one, and think about if each one still sparks joy, intrigue, inspiration,
      or is in any way still important to you. <b>If not, hit that Unfollow button!</b>
    p. 
      To get started, log in with Twitter:
    a.button.block(href='/auth/twitter') Login with Twitter
    br
    p.gray.
      P.S. Tokimeki is the original word that was translated to 'spark joy' in English.
      'Spark joy' doesn't fully capture the meaning, which is why there are all these caveats whenever someone explains it, like I'm doing here.
      Please treat this term as inclusive of anything you enjoy or feel is important to you.
    p.gray.
      P.P.S. This tool only stores data in your browser cookies and local storage.
      It does not store any data on its server.
      If you do not wish to accept the use of cookies, do not use this tool.
      This tool uses Twitter authentication to get your follows and any of their protected tweets, unfollow accounts, and create/manage lists.
      The code is open source and hosted on Glitch, which you can check out by clicking the purple fish!
    p.gray
      | Made by&nbsp;
      a(href='https://tarng.com' class='keepblue') Julius Tarng
      | .
      | Follow&nbsp;
      a(href='https://twitter.com/tarngerine' class='keepblue') @tarngerine
      | &nbsp;for more tools, games, and art!
    div#avvy-intro.fixed