doctype html
head
  title Tokimeki Unfollow ✨
  link#favicon(rel='icon' href='https://glitch.com/edit/favicon-app.ico' type='image/x-icon')
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  
  meta(property="og:title" content="Tokimeki Unfollow ✨ KonMari your Twitter")
  meta(property="og:description" content="KonMari your Twitter follows with this web app~")
  meta(property="twitter:title" content="Tokimeki Unfollow ✨ KonMari your Twitter")
  meta(property="twitter:description" content="KonMari your Twitter follows with this web app~")
  meta(property="twitter:creator" content="@tarngerine")
  meta(property="twitter:site" content="@tarngerine")
  meta(property="og:type" content="website")
  meta(property="og:url" content="https://tokimeki-unfollow.glitch.me")
  meta(property="og:image" content="https://cdn.glitch.com/74263575-5bd6-41c7-8958-90c644fd4514%2Ftokimekilogothumb.png?1549222269291")
  meta(property="og:image:width" content="1278")
  meta(property="og:image:height" content="800")
  meta(property="twitter:image" content="https://cdn.glitch.com/74263575-5bd6-41c7-8958-90c644fd4514%2Ftokimekilogothumb.png?1549222269291")
  meta(property="twitter:card" content="summary_large_image")
  
  link(rel='stylesheet' href='/style.css')
  link(rel='stylesheet' href='/mobile.css')
  block scriptshead
main
  block content
//
  include the Glitch button to show what the webpage is about and
  to make it easier for folks to view source and remix
.glitchButton(style='position:absolute;top:20px;right:20px;')
script(src='https://button.glitch.me/button.js')
block scripts