<html>
  <head>
    <title>Tokimeki Unfollow</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app" v-cloak>
      <intro
        v-bind:username="user.screen_name"
        v-bind:followingcount="friends.length"
        v-if="introFinished"
        v-on:intro-finished="introFinished = true"></intro>
      <div v-else>
        <div id="twttr-widget"
          v-bind:class="{
            loading:loadingSelFriend,
            faded:loadedProgress,
            showBio:showBio,
            unfollowed:selFriendIsUnfollowed,
            kept:selFriendIsKept
          }">
          <twttr-widget
            v-bind:username="friend.screen_name"></twttr-widget>
        </div>
        <div id="ctrl" v-bind:class="{showBio:showBio}">
          <div id="avvy"></div>
          <div id="info">
            <div v-if="loadedProgress">
              <p>
                Welcome back! I've loaded your progress from last time, when you 
                kept {{ kept.length }} accounts that were important to you.
              </p>
              <strong>Let's get started on the {{ friends.length }} accounts left!</strong>
              
              <div id="btns">
                <a href="#" v-on:click="loadedProgress = false" class="button dib">Start</a>
              </div>
            </div>
            <div v-else-if="selFriendIsUnfollowed">
              <p>
                Great, unfollowed! Let's thank
                <strong>{{ friend.name }}</strong>
                for all the tweets you've enjoyed before.
              </p>
              <div id="btns">
                <a href="#" v-on:click="follow" class="button dib">Undo</a>
                <a href="#" v-on:click="next" class="button dib">Next</a>
              </div>
            </div>
            <div v-else-if="selFriendIsKept">
              <p>
                Glad to hear
                <strong>{{ friend.name }}</strong>'s
                tweets are still important to you. 
              </p>
              <div id="btns">
                <a href="#" v-on:click="unkeep" class="button dib">Undo</a>
                <a href="#" v-on:click="next" class="button dib">Next</a>
              </div>
            </div>
            <div v-else>
              <span v-if="loadingSelFriend">Loading next follow...</span>
              <span v-else>
              <p>
                <span v-if="sel == 0">First up,</span>
                <span v-else-if="sel < (friends.length - 1)">#{{sel + 1}}:</span>
                <span v-else>Last but not least,</span>
                <strong>{{ friend.name }}</strong>, a.k.a.
                <span class="gray">@{{ friend.screen_name }}</span>!
                <span v-if="showBio==false">
                  <a href="#" v-on:click="showBio = true" class="keepblue">Show bio.</a>
                </span>
                <span v-else id="bio">
                  <span class="">&ldquo;{{ friend.description }}&rdquo;</span>
                  <a href="#" v-on:click="showBio = false" class="keepblue">Hide bio.</a>
                </span>
              </p>
              <p>
                Do the tweets still spark joy?
              </p>
              <div id="btns">
                <a href="#" v-on:click="prev" class="button dib"><-</a>
                <a href="#" v-on:click="unfollow" class="button dib">Unfollow</a>
                <a href="#" v-on:click="keep" class="button dib">Keep</a>
                <a href="#" v-on:click="next" class="button dib">-></a>
              </div>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div id="logout">
        <a href="/logout">Log Out</a>
        <a href="#" v-if="introFinished" v-on:click="introFinished=false">Intro</a>
      </div>
      <div id="debug">
        <ol>
          <li v-for="id in friends">{{ id }}</li>
        </ol>
      </div>
      <div id="alert" v-if="savedProgress">
          Saved progress!
      </div>
    </div>
  <script type="module" src="/client.js" defer=""></script>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </body>
</html>