<html>
  <head>
    <title>Tokimeki Unfollow</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-async-computed@3.5.1"></script>
  </head>
  <body>
    <div id="app" v-cloak>
      <intro
        v-bind:username="user.screen_name"
        v-bind:followingcount="friends.length"
        v-if="introFinished"
        v-on:intro-finished="introFinished = true"></intro>
      <div v-else>
        <twttr-widget v-bind:username="friend.screen_name"></twttr-widget>
        <div id="ctrl">
          <div id="avvy"></div>
          <div id="info">
            <div v-if="loadedProgress">
              Welcome back! I've loaded your progress from last time, when you 
              kept {{ kept.length }} accounts that were important to you.
              <br>
              <strong>Let's get started on the {{ friends.length }} accounts left!</strong>
              
              <div id="btns">
                <a href="#" v-on:click="loadedProgress = false" class="button dib">Start</a>
              </div>
            </div>
            <div v-else-if="selFriendIsUnfollowed">
              <p>
                Great, unfollowed! Let's thank
                <strong>{{ friend.name }}</strong>
                for all the tweets you've enjoyed before.
              </p>
              <div id="btns">
                <a href="#" v-on:click="follow" class="button dib">Undo</a>
                <a href="#" v-on:click="next" class="button dib">Next</a>
              </div>
            </div>
            <div v-else-if="selFriendIsKept">
              <p>
                Glad to hear
                <strong>{{ friend.name }}</strong>'s
                tweets are still important to you. 
              </p>
              <div id="btns">
                <a href="#" v-on:click="unkeep" class="button dib">Undo</a>
                <a href="#" v-on:click="next" class="button dib">Next</a>
              </div>
            </div>
            <div v-else>
              <p>
                <span v-if="sel == 0">First up,</span>
                <span v-else-if="sel < (friends.length - 1)">#{{sel + 1}}:</span>
                <span v-else>Last but not least,</span>
                <strong>{{ friend.name }}</strong>, a.k.a.
                <span class="gray">@{{ friend.screen_name }}</span>!
              </p>
              <p>
                Do the tweets still spark joy?
              </p>
              <div id="btns">
                <a href="#" v-on:click="prev" class="button dib"><-</a>
                <a href="#" v-on:click="unfollow" class="button dib">Unfollow</a>
                <a href="#" v-on:click="keep" class="button dib">Keep</a>
                <a href="#" v-on:click="next" class="button dib">-></a>
              </div>
            </div>
                
            
<!--             <h3>
              {{friend.name}} <span class="notbold gray">@{{ friend.screen_name }}</span>
            </h3>
            <div v-if="showBio==false">
              <a href="#" v-on:click="showBio = true">View bio</a>
            </div>
            <div v-else id="bio">
              {{ friend.description }}
              <br>
              <a href="#" v-on:click="showBio = false">Hide bio</a>
            </div> -->
          </div>
        </div>
      </div>
      <div id="logout">
        <a href="/logout">Log Out</a>
        <a href="#" v-if="introFinished" v-on:click="introFinished=false">Intro</a>
        <a href="#" v-on:click="resetApp">Refetch Data</a>
      </div>
      <div id="debug">
        <ol>
          <li v-for="id in friends">{{ id }}</li>
        </ol>
      </div>
    </div>
  <script type="module" src="/client.js" defer=""></script>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </body>
</html>