@media (max-width: 800px) {
  #avvy-intro {
    right: 0;
    left:auto;
    margin:0
  }
}

@media (max-width: 600px) {
  body {
    margin: .5em;
    font-size: 1.3em;
  }
  
  h1 {
    font-size: 1.5em;
  }
  
  form, input, label {
    font-size: 1em;
  }
  
  #intro {
    padding: 1em;
    margin-bottom: 160px;
  }
  
  
  .flex-parent {
    padding: 0;
    margin: -.5em;
  }
  
  #twttr-widget {
    width: 100%;
  }
  
  #twttr-widget div div {
    overflow: auto;
    -webkit-overflow-scrolling:touch;
  }
  
  #ctrl{
    width: 100%;
    margin: 0;
    padding: .6em;
  }
  
  #ctrl p {
    padding-right: 0;
  }
  
  #avvy {
    bottom: 100%;
    right: 0;
  }
  
  #btns {
    position: static;
    bottom: 0;
    display: flex;
  }
  
  #btns .button {
    flex-grow: 1;
/*     margin-bottom: 0; */
/*     box-shadow: none; */
/*     border-top: 1px solid #eee; */
  }
}