@media (max-width: 800px) {
  #avvy-intro {
    right: 0;
    left:auto;
    margin:0
  }
}

@media (min-width: 600px) {
  .lt600 {
    display: none;
  }
}

@media (max-width: 600px) {
  .gt600 {
    display: none;
  }

  body {
    margin: 0;
    font-size: 1.3em;
  }
  
  h1 {
    font-size: 1.5em;
  }
  
  form, input, label {
    font-size: 1em;
  }
  
  #intro {
    padding: 1.2em;
  }
  
  
  .flex-parent {
    padding: 0;
    margin: 0;
  }
  
  .flex-bottom {
    width: 100%;
  }
  
  #twttr-widget {
    width: 100%;
  }
  
  #twttr-widget div div {
    overflow: auto;
    -webkit-overflow-scrolling:touch;
  }
  
  #ctrl{
    width: 100%;
    margin: 0;
    max-height: 80vh;
  }
  
  #ctrl p {
    padding-right: 0;
  }
  
  #avvy {
    bottom: 100%;
    right: 0;
  }
  
  #avvy, #avvy-intro {
    width: 120px;
    height: 120px;
  }
  
  #btns {
    position: static;
    bottom: 0;
    width: 100%;
    margin-top: .6em;
    text-align: left;
  }
  
  #btns .button {
    min-width: 0;
  }
  
  .button-menu {
    width: 100%;
    left: 0;
    margin-left: 0;
    bottom: 0;
    box-shadow: 0 -.5em .5em 0 rgba(0,0,0,.1);
  }
}