/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}


body {
  font-family: monospace;
  font-size: 16px;
  line-height: 1.2em;
  margin: 1em;
  background: #eee;
}

h1, h2, h3, h4, h5, h6, p { margin-top: 0 }

h1 {
  color: #373fff;
  line-height: 1em;
  font-size: 1.8em;
}

.bold {
  font-weight: bold;
}

.notbold {
  font-weight: normal;
}

.gray {
  color:#888;
}

.keepblue { color:blue }
a.keepblue:visited { color: blue }
a:hover { text-decoration: none }

[v-cloak] {
  display: none;
}

input[type="checkbox"] {
  display: inline-block;
  width: auto;
}

#intro {
  background: white;
  padding: 2em;
  margin: 0 auto;
  max-width: 640px;
  position: relative;
}

#twttr-widget {
  background: white;
  position: absolute;
  bottom: 11.2em;
  top: 1em;
  left: 50%;
  width: 400px;
  text-align: center;
  margin-left: -200px;
  overflow: hidden;
/*   border: 2px solid black; */
/*     border-radius: 2em; */
  box-shadow: .5em .5em 1em 0 rgba(0,0,0,.1);
  transform: scale(1);
  transition: transform .25s ease, opacity .25s;
}

#twttr-widget.showBio {
  bottom: 13.6em;
}

#twttr-widget.loading {
  transform: scale(0);
}

#twttr-widget.faded {
  opacity: 0;
}

#twttr-widget.unfollowed {
  opacity: 0;
  transform: rotate(-10deg) translate(-100px,200px) scale(.5);
}

#twttr-widget.kept {
/*   opacity: 0;
  transform: rotate(-10deg) translate(100px,200px) scale(.5); */
/*   transform: translateY(-400px); */

}

#ctrl {
  padding: 1.2em;
  position: absolute;
  bottom: 2em;
  height: 8em;
  left: 50%;
  width: 640px;
  margin-left: -320px;
  background: white;
/*   border: 2px solid black; */
}

#ctrl.showBio {
  height: 10.4em;
}

#ctrl h3 {
  margin-bottom: .25em;
}

#ctrl h4 {
  margin-bottom: .5em;
}

#ctrl p {
  padding-right: 60px;
}

#btns {
/*   float: right; */
  text-align: center;
  position: absolute;
  bottom: -1.5em;
  left: 0;
  right: 0;
/*   margin-top: .5em; */
}

.button {
  background: white;
  color: blue;
  box-shadow: .25em .5em .5em 0 rgba(0,0,0,.1);
  font-weight: bold;
  padding: .5em 1em;
  margin-bottom: .5em;
  text-align:center;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: underline;
  border:0;
}

#btns .button {
  min-width: 8em;
}

.button:hover {
  text-decoration:none;
}

.button:active {
  background: #eef;
}

.abs { position: absolute }
.right {
/*   right: -1em; */
  left: 90%;
  transform: rotate(-10deg);
}
.button.right:hover{
  transform: rotate(-5deg);
}
.left {
/*   left: -1em; */
  right:90%;
  transform: rotate(10deg);
}
.button.left:hover{
  transform: rotate(5deg);
}

#logout {
  position: fixed;
  right: 0;
  bottom: 0;
}

#debug {
  display: none;
}

#avvy {
  background: url('https://cdn.glitch.com/74263575-5bd6-41c7-8958-90c644fd4514%2Favvy.png?1548396809219');
  background-size: 100%;
  width: 160px;
  height: 160px;
  bottom: -2em;
  position: absolute;
  right: -80px;
/*   margin-right: -80px; */
}

#avvy-intro {
  background: url('https://cdn.glitch.com/74263575-5bd6-41c7-8958-90c644fd4514%2Favvy.png?1548396809219');
  background-size: 100%;
  width: 160px;
  height: 160px;
  bottom: 0;
  left: 50%;
  margin-left: 240px;
}

#alert {
  background: white;
  padding: 1em;
  bottom: 1em;
  right: 1em;
  position: fixed;
}

.flex { display: flex }
.flex-col { flex-direction: column }
.fixed { position: fixed }
.dib { display: inline-block }
.block { display: block }
.w100 { width: 100% }