/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

.flex { display: flex }
.flex-col { flex-direction: column }

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  background: #7370EC;
/*   margin: 2em; */
}

h1 {
  font-style: italic;
  color: #373fff;
  margin-top: 0;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}

form {
/*   margin-bottom: 1em;
  padding: 1em;
  background-color: #DBFFEA;
  display: inline-block;
  width: 100%;
  border-radius: 3px; */
}

input {
/*   display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px; */
}

button {
/*   font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer; */
}

button:hover {
/*   background-color: yellow; */
}

button:active {
/*   box-shadow: none; */
}

li {
/*   margin-bottom: 5px; */
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

[v-cloak] {
  display: none;
}

input[type="checkbox"] {
  display: inline-block;
  width: auto;
}

#intro {
  background: white;
  padding: 2em;
}

#twttr-widget {
  background: white;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 50%;
  width: 400px;
  text-align:center;
  margin-left: -200px;
  overflow: hidden;
}

#ctrl {
  position: absolute;
  bottom: 0;
  height: 60px;
  left: 50%;
  width: 400px;
  margin-left: -200px;
}

.button {
  background: #F16A6A;
  color: white;
  font-weight: bold;
  border: 2px solid black;
  padding: .5em 1em;
  border-radius:4px;
  text-decoration:none;
}

.button:hover {
  transform: rotate(10deg);
}

.abs { position: absolute }
.right {
  right: -1em;
  transform: rotate(-10deg);
}
.left {
  left: -1em;
  transform: rotate(10deg);
}

#logout {
  position: absolute;
  right: 0;
  bottom: 0;
}

#debug {
  display: none;
}