/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}


body {
  font-family: monospace;
  font-size: 16px;
  line-height: 1.2em;
  background: #eee;
/*   margin: 2em; */
}

h1, h2, h3, h4, h5, h6, p { margin-top: 0 }

h1 {
  font-style: italic;
  color: #373fff;
}

.bold {
  font-weight: bold;
}

.notbold {
  font-weight: normal;
}

.gray {
  color:#888;
}

p {
  max-width: 600px;
}

form {
/*   margin-bottom: 1em;
  padding: 1em;
  background-color: #DBFFEA;
  display: inline-block;
  width: 100%;
  border-radius: 3px; */
}

input {
/*   display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px; */
}

button {
/*   font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer; */
}

button:hover {
/*   background-color: yellow; */
}

button:active {
/*   box-shadow: none; */
}

li {
/*   margin-bottom: 5px; */
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

[v-cloak] {
  display: none;
}

input[type="checkbox"] {
  display: inline-block;
  width: auto;
}

#intro {
  background: white;
  padding: 2em;
  margin: 0 auto;
  max-width: 600px;
  position: relative;
}

#twttr-widget {
  background: white;
  position: absolute;
  bottom: 10em;
  top: 1em;
  left: 50%;
  width: 400px;
  text-align:center;
  margin-left: -200px;
  overflow: hidden;
/*   border: 2px solid black; */
/*     border-radius: 2em; */
  box-shadow: .5em .5em 1em 0 rgba(0,0,0,.1);
}

#ctrl {
  padding: 1.2em;
  position: absolute;
  bottom: 2em;
  height: 6.8em;
  left: 50%;
  width: 600px;
  margin-left: -300px;
  background: white;
/*   border: 2px solid black; */
}

#ctrl h3 {
  margin-bottom: .25em;
}

#ctrl h4 {
  margin-bottom: .5em;
}

#ctrl p {
  padding-right: 60px;
}

#info {
/*   font-size: 18px; */
}

#btns {
/*   float: right; */
  text-align: center;
  position: absolute;
  bottom: -1.5em;
  left: 0;
  right: 0;
/*   margin-top: .5em; */
}

.button {
  background: white;
  color: blue;
  box-shadow: .25em .5em .5em 0 rgba(0,0,0,.1);
  font-weight: bold;
  padding: .5em 1em;
  margin-bottom: .5em;
  text-align:center;
}

#btns .button {
  min-width: 8em;
}

.button:hover {
  text-decoration:none;
}

.abs { position: absolute }
.right {
/*   right: -1em; */
  left: 90%;
  transform: rotate(-10deg);
}
.button.right:hover{
  transform: rotate(-5deg);
}
.left {
/*   left: -1em; */
  right:90%;
  transform: rotate(10deg);
}
.button.left:hover{
  transform: rotate(5deg);
}

#logout {
  position: fixed;
  right: 0;
  bottom: 0;
}

#debug {
  display: none;
}

#avvy {
  background: url('https://cdn.glitch.com/74263575-5bd6-41c7-8958-90c644fd4514%2Favvy.png?1548396809219');
  background-size: 100%;
  width: 160px;
  height: 160px;
  bottom: -2em;
  position: absolute;
  right: -80px;
/*   margin-right: -80px; */
}

#avvy-intro {
  background: url('https://cdn.glitch.com/74263575-5bd6-41c7-8958-90c644fd4514%2Favvy.png?1548396809219');
  background-size: 100%;
  width: 160px;
  height: 160px;
  bottom: 0;
  left: 50%;
  margin-left: 220px;
}

.flex { display: flex }
.flex-col { flex-direction: column }
.fixed { position: fixed }
.dib { display: inline-block }
.block { display: block }